body {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
  padding: 0;
  background-color: rgba(161, 97, 108, 0.349);
}

h1 {
  text-align: center;
  color: darkcyan;
}

form {
  max-width: 600px;
  margin: auto;
  background-color: rgb(216, 160, 179);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

fieldset {
  border: 3px solid greenyellow;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(211, 168, 164);
}

legend {
  font-weight: bold;
  text-align: left;
  color: darkcyan;
}

label {
  display: block;
  margin-top: 10px;
  color: darkcyan;
}

input,
textarea {
  width: calc(100% - 1px);
  padding: 8px;
  margin-top: 4px;
  border: 1px solid greenyellow;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: greenyellow;
  color: darkcyan;
  border: none;
  border-radius: 8px;
  cursor: cell;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button:hover {
  background-color: rgb(104, 10, 41);
}
